.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px var(--box-shadow-color);
}

.main-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background: var(--mainsection-bg-color);
    width: max-content;
    height: fit-content;
}

.sub-section {
    margin-top: 0.2rem;
    background: var(--subsection-bg-color);
}

.mainsection-header {
    font-size: 1.2rem;
    line-height: 1.75rem;
    font-weight: bold;
    border: 3px solid;
    border-color: transparent transparent var(--foreground) transparent;
    margin-bottom: 0.5rem;
}

.subsection-header {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.small-section {
    background: var(--subsection-bg-color);
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    width: max-content;
}

.write-section {
    background: var(--subsection-bg-color);
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    width: 100%;
}

.smallsection-header {
    border: 3px solid;
    border-color: transparent transparent var(--foreground) transparent;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.smallsection-text {
    font-size: 0.9rem;
    padding: 0.1rem;
    line-height: 0.9rem;
}

.inner-section {
    background: var(--mainsection-bg-color);
}

.partial-info-section {
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px var(--box-shadow-color);
}

.branch-section {
    min-width: 245px;
}

.new-pc-section {
    min-width: 100px;
}

.underline-text {
    border: 3px solid;
    border-color: transparent transparent var(--foreground) transparent;
    margin-bottom: 0.5rem;
}

.decoder-table {
    min-width: 230px;
}

.iq-table {
    min-width: 235px;
}

.rob-table {
    min-width: 440px;
}

.rs-table {
    min-width: 535px;
}

.prf-table {
    min-width: 185px;
}

.read-write-table {
    min-width: 150px;
}

.sq-table {
    min-width: 650px;
}

.lb-table {
    min-width: 700px;
}

.icache-table {
    min-width: 385px;
}

.mshr-table {
    min-width: 400px;
}

.terminal-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px var(--box-shadow-color);
    background-color: var(--mainsection-bg-color);
    margin-left: 2rem;
    margin-top: 2rem;
}

.terminal-header {
    border: 3px solid;
    border-color: transparent transparent var(--foreground) transparent;

    width: fit-content;
}

.terminal-header-text {
    font-size: 1.2rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.terminal-data-section {
    max-height: 520px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) var(--mainsection-bg-color);
}

.terminal-data-section::-webkit-scrollbar {
    width: 8px;
}

.terminal-data-section::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 10px;
}

.terminal-data-section::-webkit-scrollbar-track {
    background: var(--mainsection-bg-color);
}

.individual-data-section {
    border: 3px solid;
    border-color: transparent transparent var(--foreground) transparent;

    width: 100%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-box {
    min-width: 45%;
    min-height: 35%;
    border: 3px solid;
    border-color: var(--dropzone-border);
    border-radius: 3px;
    z-index: 10;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-babyblue);
}

.dialog-header {
    font-size: 1.2rem;
    line-height: 1rem;
}
.dialog-text {
    font-weight: bold;
}

.checkbox-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    margin-bottom: 1rem;
}

.checkbox-subcontainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    width: max-content;
}

.checkbox-item {
    display: flex;
    column-gap: 0.3rem;
    align-items: center;
}

.checkbox-input {
    width: 1.2rem;
    height: 1.2rem;
}

.cache-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}
