.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px var(--box-shadow-color);
}

.main-section {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background: var(--mainsection-bg-color);
  width: max-content;
}

.sub-section {
  background: var(--subsection-bg-color);
}

.mainsection-header {
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: bold;
  border: 3px solid;
  border-color: transparent transparent var(--foreground) transparent;
  margin-bottom: 0.5rem;
}

.subsection-header {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.entry {
  background: var(--entry-bg-color);
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1.125rem;
}

.table_header{
  padding: 0.5rem;
  font-size: 1.05rem;
  line-height: 1.25rem;
}
