.debugger-header {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.cycle-navigation-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
}
